/* 버튼의 기본적인 스타일 */
.btn {
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* layout */
  font-size: var(--btn-font-size);
  height: var(--btn-height);
  width: var(--btn-width);
  padding: var(--btn-padding-vertical) var(--btn-padding-horizantal);

  /* border */
  border-width: 1px;
  border-color: var(--btn-border-color);
  border-style: solid;
  border-radius: 0.4rem;

  /* color */
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);

  /* else */
  cursor: pointer;
}

/* 특수 상태에 대한 스타일 변화 */
.btn[disabled] {
  opacity: 50%;
  cursor: not-allowed;
}