/* 아이콘의 기본적인 스타일 */
.icon {
  /* layout */
  height: var(--icon-height);
  width: var(--icon-width);

  /* color */
  fill: var(--icon-fill);
  color: var(--icon-color);

  /* 상속 및 부모요소와의 상호작용은 추후 추가 필요 */
}
/* 무한 회전 */
.infinite-rotation {
  animation: rotate_image 1s linear infinite;
  transform-origin: 50% 58%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(-360deg);
  }
}